.page-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.page-container1 {
  width: 100%;
  height: 1353px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  justify-content: flex-start;
  background-image: url("https://play.teleporthq.io/static/svg/placeholders/no-image.svg");
  background-position: center;
}
.page-container2 {
  flex: 0 0 auto;
  width: 826px;
  height: 141px;
  display: flex;
  margin-top: 451px;
  align-items: flex-start;
  flex-direction: column;
  background-size: cover;
  background-image: url("public/playground_assets/beb0364e3bd7c3a38195546e048b6458974b1269-200h.png");
  background-position: center;
}
.page-container3 {
  width: 1052px;
  height: 484px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.page-text {
  padding-top: 20px;
}
.page-text03 {
  font-size: 20px;
  padding-top: 50px;
}
.page-text12 {
  font-size: 20px;
  padding-top: 50px;
}
