/* 소울워커  */

@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

.soulworker-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #ffffff;
}
.soulworker-headmenu {
  width: 100%;
  height: 103px;
  position: relative;
  align-items: center;
  border-color: #444444;
  border-width: 0px;
  justify-content: flex-start;
  background-color: #000000;
}

.soulworker-container01 {
  flex: 0 0 auto;
  width: 192px;
  height: 33px;
  display: flex;
  margin-top: 38px;
  align-items: flex-start;
  margin-left: 72px;
  flex-direction: column;
  background-size: cover;
  text-decoration: none;
  background-image: url("public/playground_assets/beb0364e3bd7c3a38195546e048b6458974b1269-200h.png");
  background-position: center;
}
.soulworker-container02 {
  
 
  position: absolute;
    
   
  top: 2px;
    
   
  left: 80px;
    right: 0;
    width: 100%;
    max-width: 1350px;
    
   
  height: 100px;
    
   
  margin: auto;
    
   
  display: flex;
    
   
  align-items: flex-start;
    
   
  flex-direction: column;
    
   
  border: 2px dashed rgba(255, 255, 255, 0);
    
   
  z-index: 2;
  }
  
  @media screen and (max-width: 1350px) {
    
   
  .soulworker-container02 {
      
     
  width: 100%;
    }
  }
  
  
   
  @media screen and (max-width: 767px) {
    
   
  .soulworker-container02 {
      
     
  height: 200px; /* Adjust the height for smaller screens */
    }
  }

@media(max-width: 1920px) {
  .soulworker-container02 {
    top: 2px;
    flex: 0 0 auto;
    left: 139px;
    right: 0px;
    width: 1136px;
    border: 2px dashed rgba(255, 255, 255, 0);
    height: 100px;
    margin: auto;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-direction: column;
  }
}

.soulworker-container03 {
  top: 12px;
  flex: 0 0 auto;
  right: 4px;
  width: 300px;
  height: 80px;
  display: flex;
  position: absolute;
  transition: 0.3s;
  align-items: flex-start;
  flex-direction: column;
  background-size: cover;
  text-decoration: none;
  background-image: url("public/playground_assets/11.png");
  background-position: center;
}

.soulworker-container03:hover {
  background-image: url("public/playground_assets/22.png");
}

.soulworker-bgslide {
  width: 100%;
  height: 766px;
  align-items: center;
  border-width: 0px;
  padding-right: 0px;
  background-size: cover;
  justify-content: center;
  background-image: url("public/playground_assets/BG2.png");
  background-position: center;
}

.soulworker-container04 {
  flex: 0 0 auto;
  width: 890px;
  height: 508px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: #d9d9d900;
}

.soulworker-container05 {
  width: 100%;
  height: 100vh;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}
@media (min-width: 1200px) {
  .soulworker-container05  {
    width: 2012px;
    height: 510px;
    margin-top: -107px;
    margin-bottom: -21px;
  }
}
.soulworker-link1 {
  display: contents;
}

.soulworker-icon {
  top: 87px;
  fill: #c5c4c3;
  left: 405px;
  width: 30px;
  height: 28px;
  position: absolute;
  transition: 0.3s;
  text-decoration: none;
}

.soulworker-icon:hover {
  fill: #4c4c4c;
}

.soulworker-link2 {
  display: contents;
}

.soulworker-container06 {
  flex: 0 0 auto;
  width: 435px;
  height: 278px;
  display: flex;
  transition: 0.3s;
  align-items: flex-start;
  margin-left: 42px;
  flex-direction: column;
  background-size: cover;
  text-decoration: none;
  background-position: center;
  position: relative;
}


.soulworker-container07 {
  flex: 0 0 auto;
  width: 435px;
  height: 279px;
  display: flex;
  align-items: flex-start;
  margin-left: var(--dl-space-space-halfunit);
  flex-direction: column;
  justify-content: flex-start;
  background-color: rgba(28,30,36,0.9);
}

.soulworker-text {
  color: rgb(230, 230, 230);
  font-size: 25px;
  font-family: 엘리스 배움체;
  padding-top: 10px;
  padding-left: 20px;
  letter-spacing: 1px;
}

.soulworker-link3 {
  color: rgb(230, 230, 230);
  transition: 0.3s;
  font-family: 엘리스 배움체;
  padding-top: 14px;
  padding-left: 20px;
  letter-spacing: 1px;
  text-decoration: none;
}

.soulworker-link3:hover {
  color: #ffffff;
  text-decoration: underline;
}
.soulworker-link4 {
  color: rgb(230, 230, 230);
  transition: 0.3s;
  font-family: 엘리스 배움체;
  padding-top: 14px;
  padding-left: 20px;
  letter-spacing: 1px;
  text-decoration: none;
}

.soulworker-link4:hover {
  color: #ffffff;
  text-decoration: underline;
}

.soulworker-container08 {
  flex: 0 0 auto;
  width: 657px;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.soulworker-link5 {
  display: contents;
}

.soulworker-container09 {
  flex: 0 0 auto;
  width: 657px;
  height: 133px;
  display: flex;
  align-items: flex-start;
  margin-left: var(--dl-space-space-unit);
  flex-direction: column;
  background-size: cover;
  text-decoration: none;
  background-image: url("public/playground_assets/2023_5월_부스팅.png");
  background-position: center;
}
.soulworker-link6 {
  display: contents;
}
.soulworker-container10 {
  flex: 0 0 auto;
  width: 657px;
  height: 133px;
  display: flex;
  margin-top: 11px;
  align-items: flex-start;
  margin-left: var(--dl-space-space-unit);
  flex-direction: column;
  background-size: cover;
  text-decoration: none;
  background-position: center;
}
.soulworker-container11 {
  top: 78px;
  flex: 0 0 auto;
  left: 232px;
  width: 153px;
  height: 37px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  background-size: cover;
  background-position: center;
}
a {
  color:inherit;
  text-decoration:none;
}

/* 라이브러리 */
.con {
  margin:0 auto;
}

.img-box > img {
  width:100%;
  display:block;
}

.row::after {
  content:"";
  display:block;
  clear:both;
}

.cell {
  float:left;
  box-sizing:border-box;
}

.cell-right {
  float:right;
  box-sizing:border-box;
}

.margin-0-auto {
  margin:0 auto;
}

.block {
  display:block;
}

.inline-block {
  display:inline-block;
}

.text-align-center {
  text-align:center;
}

.line-height-0-ch-only {
  line-height:0;
}

.line-height-0-ch-only > * {
  line-height:normal;
}

.relative {
  position:relative;
}

.absolute-left {
  position:absolute;
  left:0;
}

.absolute-right {
  position:absolute;
  right:0;
}

.absolute-middle {
  position:absolute;
  top:50%;
  transform:translateY(-50%);
}

.width-100p {
  width:100%;
}

.table {
  display:table;
}

.table-cell {
  display:table-cell;
}

.vertical-align-top {
  vertical-align:top;
}

.vertical-align-middle {
  vertical-align:middle;
}

.vertical-align-bottom {
  vertical-align:bottom;
}

/* 커스텀 */

.con {
  width:1180px;
}

.con-min-width {
  min-width:1180px;
}

/* 반응형 레이아웃 */
.con {
  max-width:1280px;
}


.top-bar .menu-box-1 > ul > li > a {
  padding: 0 20px;
  font-size: 1.3rem;
  letter-spacing: -0.1rem;
  font-weight: bold;
}

.top-bar .menu-box-1 > ul > li > a > span {
  padding: 8px 41px;
  color: white;
  margin-top: 28px;
  font-size: 17px;
}

.top-bar .menu-box-1 > .li-indicator-1-box > .li-indicator-1 {
  position: absolute;
  top: 0;
  left: 11px;
  width: 20px;
  height: 2px;
  background-color: rgb(255, 84, 210);
  transition: top 2222.10s, left 0.3s, width 0.3s, height 0.3s;
}
.soulworker-container12 {
  width: 100%;
  height: 895px;
  display: flex;
  position: relative;
  align-items: center;
  padding-top: 3px;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #e1e1e1;
  margin-top: -1px;
}
.soulworker-container13 {
  background-image: url();
  top: 673px;
  left: -1318px;
  right: 0px;
  width: 155px;
  height: 62px;
  margin: auto;
  display: flex;
  position: absolute;
  align-items: flex-start;
  margin-right: auto;
  flex-direction: column;
  background-size: cover;
  background-position: center;
}
.soulworker-container14 {
  width: auto;
  height: 833px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.soulworker-container15 {
  flex: 0 0 auto;
  width: 677px;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.soulworker-container16 {
  width: 626px;
  border: 2px dashed rgba(120, 120, 120, 0);
  height: 17px;
  display: flex;
  align-items: flex-start;
}
.soulworker-container17 {
  width: 898px;
  border: 2px dashed rgba(120, 120, 120, 0);
  height: 268px;
  display: flex;
  align-items: flex-start;
}
.soulworker-container18 {
  width: 100%;
  height: 226px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #1c1b29;
}

.soulworker-container19 {
  flex: 0 0 auto;
  width: 1252px;
  height: 151px;
  display: flex;
  align-self: center;
  align-items: center;
  padding-top: var(--dl-space-space-threeunits);
  padding-left: 98px;
  padding-right: 137px;
  flex-direction: row;
  padding-bottom: 26px;
  justify-content: center;
}
.soulworker-link7 {
  color: rgb(164, 164, 164);
  transition: 0.3s;
  padding-left: 10px;
  text-decoration: none;
}
.soulworker-link7:hover {
  color: #ffffff;
}
.soulworker-text1 {
  color: rgb(255, 255, 255);
  padding-left: 20px;
}

  .soulworker-container05 {
    width: 1485px;
    left: -86px;
  }
  .soulworker-icon {
    top: 86px;
    left: 424px;
  }
  
  .soulworker-container11 {
    top: 80px;
    left: -20px;
  }

  .soulworker-container16 {
    margin-top: 0px;
  }

@media(max-width: 1200px) {
  .soulworker-container02 {
    width: px;
  }
  
  .soulworker-bgslide {
    width: 100%;
    height: 428px;
  }

  .soulworker-container04 {
    width: 661px;
    height: 341px;
  }

  .soulworker-container19 {
    width: 1123px;
  }
}
@media(max-width: 991px) {
  .soulworker-container19 {
    width: 955px;
    height: 127px;
  }
}
@media(max-width: 767px) {
  .soulworker-container19 {
    width: 751px;
  }
}
@media(max-width: 1440px){
  
}


.swiper-container {
		width: 100%;
		height: 300px;
		margin: 20px auto;
}

.swiper-slide-container {
  text-align: center;
	font-size: 18px;
	background: #000000;
  height:100%;
  color: white;
  max-width: 745px;
  margin:auto;
		/* Center slide text vertically */
		/* display: -webkit-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		-webkit-justify-content: center;
		justify-content: center;
		-webkit-box-align: center;
		-ms-flex-align: center;
		-webkit-align-items: center;
		align-items: center; */
}

.gallery-top {
	height: 822px;
    width: 868px;
    left: 517px;
    top: 171px;
}
.gallery-thumbs {
	height: 52px;
    box-sizing: border-box;
    padding: 10px 0px;
    background: black;
    width: 750px;
	left: -540px;
    top: 294px;
}
.gallery-thumbs .swiper-slide {
		width: 20%;
		height: 100%;
		opacity: 0.4;
}
.gallery-thumbs .swiper-slide-active {
		opacity: 1;
}
.ps{
	width: 870px;
    height: 508px;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #ffffff00;
    height: calc((100% - 30px) / 2) !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ps1{
	width: 870px;
    height: 508px;
}

.swiper-slide-container:hover{
	color: blueviolet;
}

@media(max-width: 1920px) {
  .main_text {
    position: absolute;
    top: 71px;
    left: 300px;
    width: 686px;
  }
}
.main_text{
  position: absolute;
  top: 71px;
  left: 300px;
  width: 686px;
  
}

.main_BG{
  width: 956px;
  position: absolute;
  left: 150px;
  top: 269px;
}
@media(max-width: 1664px) {
  .main_BG {
    width: 550px;
    position: absolute;
    left: 4px;
    top: 206px;
  }
}

.h_menu {
  float: left;
  font-weight: bold;
  position: relative;
  
}
.menu_pan {
  width: 3560px;
  background: #252428c4;
  position: absolute;
  top: 87px;
  z-index: 999;
  padding-left: 476px;
  font-size: 15px;
  left: -146px;
  margin-top: -5px;
  opacity: 1;
  
}
.menu_category {
  float: left;
  margin: 30px 0;
}
.category:nth-child(1){
  font-weight: bold;
}
.category {
  padding: 9px 0px;
  /* width: 180px; */
  margin-right: 100px;
}
.category:hover {
  text-decoration: underline;
}


.h_menu {
  float: left;
  font-weight: bold;
  position: relative;
  display: flex;
  
}

.menu_pan {
  min-width: 100%;
  background: #000000e3;
  position: absolute;
  left: -316px;
  top: 100%;
  z-index: 999;
  padding-left: 505px;
  font-size: 15px;
  display: none;
  margin-left: -146px;
  margin-top: -8px;
}
.category{
  color: #818181;
}
.category :hover{
 color: white;
}

.menu_category{
  left:0px
}

.timer{
  left: -250px;
  top: 400px;
  
 

}
@media(max-width: 1920px) {
  .timer {
    left: -580px;
    top: 400px;
    
  }
}

@media(max-width: 1280px) {
  .timer {
    left: -580px;
    top: 400px;
    
  }
}

.rgy-dday {
  padding: 10px;
  margin: 10px;
  border: 1px solid #ccc;
}

.rgy-dday h3 {
  padding: 5px;
  margin-bottom: 5px;
  background-color: #eee;
}

.rgy-dday #dDay li {
  list-style-type: none;
  padding: 2px 0;
}

.rgy-dday #dDay .ddayWord {
  margin-right: 5px;
}

.rgy-dday #dDay .ddayColor {
  color: #ff5544;
}

/* 패치노트 영역 텍스트 */
.main1{
  position: absolute;
  top: 976px;
  font-size: 25px;
  left: 203px

}
@media(max-width: 1664px) {
  .main1 {
    position: absolute;
  top: 976px;
  font-size: 25px;
  left: 70px
  }
}


/* 퀵메뉴영역 */
div, ul, li {-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;padding:0;margin:0}
a {text-decoration:none;}

.quickmenu {position:initial;width:230px;top:50%;margin-top:-50px;right:10px;background:#ffffff;}
.quickmenu ul {position:relative;float:left;width:100%;display:inline-block;border:1px solid #000000;}
.quickmenu ul li {float:left;width:100%;border-bottom:1px solid #ddd;text-align:center;display:inline-block;*display:inline;}
.quickmenu ul li a {position:relative;float:left;width:100%;height:30px;line-height:30px;text-align:center;color:#000000;font-size:9.5pt;}
.quickmenu ul li a:hover {color:#eb30e1;}
.quickmenu ul li:last-child {border-bottom:0;}

.content {position:relative;min-height:1000px;}

/* NEW */
.new{
  position: absolute;
  left: 712px;
  top: 164px;
  width: 17px;

}
.new2{
  position: absolute;
  left: 96px;
  top: 38px;
  width: 17px;
}
h::before {
  content : '●';
  color: rgb(255, 0, 43);
  font-size: 5px;
  position: relative;
  top: -25px;
  left: -304px;
}



/* SNS */
.sns_bg{
  position: absolute;
  left: 1546px;
  top: 26px;
}
.sns_bg2{
  position: absolute;
  left: 1546px;
  top: 73px;
}

.evnt{
  position: relative;
  top: 128px;
  font-size: 25px;
  left: -778px;

}

.call_btn{
  position: relative;
  top: -1px;
  width: 1019px;

}

.soulworker-headmenu{
  position: fixed;
  z-index: 2;
  font-family: Noto Sans KR,Malgun Gothic,Apple SD Gothic NEO,gulim,dotum,sans-serif;

}


.event{
  position: relative;
}



::-webkit-scrollbar-thumb {
  background-color: #ff23cf;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #f5f5f500;
}
.jumbotron { padding: 30px; }
.scroll-line  {
    position: fixed;
    top: 0;
    left: 0;
    height: 2px;
    background-color: #e700a2;
  height: 5px;
    transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1) width;
    z-index: 1;
  }



  @import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);
@import url(https://fonts.googleapis.com/css?family=Teko:700);
.snip1543 {
  background-color: #fff;
  color: #ffffff;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  margin: 10px;
  max-width: 315px;
  min-width: 230px;
  overflow: hidden;
  position: relative;
  text-align: left;
  width: 100%;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}

.snip1543 *,
.snip1543 *:before,
.snip1543 *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.45s ease;
  transition: all 0.45s ease;
}

.snip1543 img {
  backface-visibility: hidden;
  max-width: 100%;
  vertical-align: top;
}

.snip1543:before,
.snip1543:after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: '';
  background-color: #b81212;
  opacity: 0.5;
  -webkit-transition: all 0.45s ease;
  transition: all 0.45s ease;
}

.snip1543:before {
  -webkit-transform: skew(30deg) translateX(-80%);
  transform: skew(30deg) translateX(-80%);
}

.snip1543:after {
  -webkit-transform: skew(-30deg) translateX(-70%);
  transform: skew(-30deg) translateX(-70%);
}

.snip1543 figcaption {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: 1;
  bottom: 0;
  padding: 25px 40% 25px 20px;
}

.snip1543 figcaption:before,
.snip1543 figcaption:after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #b81212;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
  content: '';
  opacity: 0.5;
  z-index: -1;
}

.snip1543 figcaption:before {
  -webkit-transform: skew(30deg) translateX(-100%);
  transform: skew(30deg) translateX(-100%);
}

.snip1543 figcaption:after {
  -webkit-transform: skew(-30deg) translateX(-90%);
  transform: skew(-30deg) translateX(-90%);
}

.snip1543 h3,
.snip1543 p {
  margin: 0;
  opacity: 0;
  letter-spacing: 1px;
}

.snip1543 h3 {
  font-family: 'Teko', sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 1em;
  text-transform: uppercase;
}

.snip1543 p {
  font-size: 0.9em;
}

.snip1543 a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.snip1543:hover h3,
.snip1543.hover h3,
.snip1543:hover p,
.snip1543.hover p {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  opacity: 0.9;
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

.snip1543:hover:before,
.snip1543.hover:before {
  -webkit-transform: skew(30deg) translateX(-20%);
  transform: skew(30deg) translateX(-20%);
  -webkit-transition-delay: 0.05s;
  transition-delay: 0.05s;
}

.snip1543:hover:after,
.snip1543.hover:after {
  -webkit-transform: skew(-30deg) translateX(-10%);
  transform: skew(-30deg) translateX(-10%);
}

.snip1543:hover figcaption:before,
.snip1543.hover figcaption:before {
  -webkit-transform: skew(30deg) translateX(-40%);
  transform: skew(30deg) translateX(-40%);
  -webkit-transition-delay: 0.15s;
  transition-delay: 0.15s;
}

.snip1543:hover figcaption:after,
.snip1543.hover figcaption:after {
  -webkit-transform: skew(-30deg) translateX(-30%);
  transform: skew(-30deg) translateX(-30%);
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}

.main {
  width: 800px;
  display:block;
  margin:0 auto;
}
.img-wish{text-align: center !important;}
.img-wish img{width: 100%;} 


.swiper {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  height: calc((100% - 30px) / 2) !important;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}



.youtube-gallery {
  min-height: 100vh;
}
.youtube-gallery .video {
  background: url("https://assets.codepen.io/319606/video-placeholder.jpg");
  background-position: center;
  background-size: cover;
}

.yt-single {
  background: #141414;
  border-radius: 10px;
}
.yt-single img {
  border-bottom: 3px solid #f99c1c;
  transition: all 0.25s ease-in-out;
}

.yt-thumb {
  max-width: 260px;
  width: 100%;
  display: flex;
  cursor: pointer;
  margin-right: 15px;
  margin-left: 15px;
  min-height: 100%;
}
.yt-thumb:hover img {
  opacity: 0.75;
}

.date {
  color: #808080;
  font-size: 0.875em;
}

.yt-title {
  color: #ccc;
  font-weight: 900;
}

.yt-img {
  position: relative;
}
.yt-img:before {
  content: "";
  background-image: url("https://assets.codepen.io/319606/play-btn.svg");
  width: 60px;
  height: 60px;
  position: absolute;
  bottom: -20px;
  right: 20px;
  z-index: 1;
  opacity: 0;
  transition: all 0.25s ease-in-out;
}

.ypt-now-playing .yt-img:before {
  content: "";
  background-image: url("https://assets.codepen.io/319606/play-btn.svg");
  width: 60px;
  height: 60px;
  position: absolute;
  bottom: -20px;
  right: 20px;
  z-index: 1;
  opacity: 1;
}

.flickity-prev-next-button {
  top: 50%;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  transform: translateY(-50%);
}
.flickity-prev-next-button .flickity-button-icon {
  position: absolute;
  left: 30%;
  top: 30%;
  width: 40%;
  height: 40%;
}
.flickity-prev-next-button.next {
  right: -40px;
}
.flickity-prev-next-button.previous {
  left: -40px;
}

.flickity-button {
  position: absolute;
  background: #141414;
  border: none;
  color: #fff;
}
.flickity-button:hover {
  background: #c234cf;
  cursor: pointer;
}
.flickity-button:disabled {
  opacity: 1;
  cursor: auto;
  pointer-events: none;
}

@media screen and (max-width: 575px) {
  .flickity-prev-next-button.next {
    right: -32px;
  }

  .flickity-prev-next-button.previous {
    left: -32px;
  }
}

.swiper-container {
		width: 100%;
		height: 300px;
		margin: 20px auto;
}

.swiper-slide-container {
  text-align: center;
	font-size: 18px;
	background: #000000;
  height:100%;
  color: white;
  max-width: 745px;
  margin:auto;
		/* Center slide text vertically */
		/* display: -webkit-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		-webkit-justify-content: center;
		justify-content: center;
		-webkit-box-align: center;
		-ms-flex-align: center;
		-webkit-align-items: center;
		align-items: center; */
}

.gallery-top {
	height: 822px;
    width: 868px;
    left: 517px;
    top: 171px;
}
.gallery-thumbs {
	height: 52px;
    box-sizing: border-box;
    padding: 10px 0px;
    background: black;
    width: 750px;
	left: -540px;
    top: 294px;
}
.gallery-thumbs .swiper-slide {
		width: 20%;
		height: 100%;
		opacity: 0.4;
}
.gallery-thumbs .swiper-slide-active {
		opacity: 1;
}
.ps{
	width: 870px;
    height: 508px;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #ffffff00;
    height: calc((100% - 30px) / 2) !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ps1{
	width: 870px;
    height: 508px;
}

.swiper-slide-container:hover{
	color: blueviolet;
}

.quickmenu {
    POSITION: absolute; 
    PADDING-BOTTOM: 0pt; 
    MARGIN: 0pt; 
    PADDING-LEFT: 0px; 
    PADDING-RIGHT: 0pt; 
    RIGHT: 0px; 
    PADDING-TOP: 0pt; 
    TOP: 800px;
}

/* inner */
