/*  폰트 적용 */
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

html {
    font-family: "Noto Sans KR", sans-serif;
}

/* 노말라이즈 */
body, ul, li, h1 {
    margin:0;
    padding:0;
    list-style:none;
}

a {
    color:inherit;
    text-decoration:none;
}

/* 라이브러리 */
.con {
    margin:0 auto;
}

.img-box > img {
    width:100%;
    display:block;
}

.row::after {
    content:"";
    display:block;
    clear:both;
}

.cell {
    float:left;
    box-sizing:border-box;
}

.cell-right {
    float:right;
    box-sizing:border-box;
}

.margin-0-auto {
    margin:0 auto;
}

.block {
    display:block;
}

.inline-block {
    display:inline-block;
}

.text-align-center {
    text-align:center;
}

.line-height-0-ch-only {
    line-height:0;
}

.line-height-0-ch-only > * {
    line-height:normal;
}

.relative {
    position:relative;
}

.absolute-left {
    position:absolute;
    left:0;
}

.absolute-right {
    position:absolute;
    right:0;
}

.absolute-middle {
    position:absolute;
    top:50%;
    transform:translateY(-50%);
}

.width-100p {
    width:100%;
}

.table {
    display:table;
}

.table-cell {
    display:table-cell;
}

.vertical-align-top {
    vertical-align:top;
}

.vertical-align-middle {
    vertical-align:middle;
}

.vertical-align-bottom {
    vertical-align:bottom;
}

/* 커스텀 */

.con {
    width:1180px;
}

.con-min-width {
    min-width:1180px;
}

/* 반응형 레이아웃 */
.top-bar .menu-box-1 > ul > li > a {
    padding:0 20px;
    font-size:1.3rem;
    letter-spacing:-0.1rem;
    font-weight:bold;
}

.top-bar .menu-box-1 > ul > li > a > span {
    padding:10px 0;
    color: white;
}

.top-bar .menu-box-1 > .li-indicator-1-box > .li-indicator-1 {
    position:absolute;
    top:0;
    left:-700px;
    width:100px;
    height:2px;
    background-color:#ff00bf;
    transition:top 0.3s, left 0.3s, width 0.3s, height 0.3s;
}
/* 메뉴 */
.h_menu {
    float: left;
    font-weight: bold;
    position: relative;
    display: flex;
    
  }
  
  .menu_pan {
    width: 2560px;
    background: #000000;
    position: absolute;
    top: 87px;
    z-index: 999;
    padding-left: 180px;
    font-size: 15px;
    left: -146px;
  }
  .category{
    color: #818181;
  }
  .category :hover{
   color: white;
  }
  
  .menu_category{
    left:0px
  }